* {
  box-sizing: border-box;
}

.foto_equipo {
  background-image: url("../images/bg-contacto.jpg");
  background-size: 170%;
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 300px;
  background-color: $fondo_foto;

@media all and (min-width: 380px) {
    background-size: 140%;

}
@media all and (min-width: 530px) {
    background-size: 100%;

}
@media all and (min-width: 720px) {
    background-size: 80%;

}
}

.contacto_h2 {
  margin: 0;
  font-family: $fonte_principal;
  color: $verde_oscuro;
}

.principal_contacto {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
@media all and (min-width: 1200px){
  padding-top: 45px;
}
}

.contacto-txt {
  margin: 15px 15px 0;
}

.contacto_p {
  text-align: center;
  margin: 0;
  color: $gris_oscuro;
  font-size: $large;
  line-height: $largest;
  max-width: 442px;
}

.forms {
  flex-direction: column;
  display: flex;
  color: $gris_oscuro;
  width: 100%;
  max-width: 442px;
  padding: 0 15px;
}

.forms_info {
  text-align: center;
  font-size: 0.7em;
  font-weight: normal;
  margin: 30px 0 60px;
}

.forms_labels {
  text-align: left;
  font-size: 14px;
  margin: 0;
  line-height: 19px;
}

.bright {
  color: $verde_claro;
  font-size: 1rem;
}

.form1 {
  border: 1px solid lightgray;
  min-height: 15px;
  text-align: left;
  font-size: $normal;
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
  line-height: $xx-large;
}

.big {
  min-height: 70px;
  max-height: 105px;
  margin-bottom: 25px;
}

::placeholder {
  color: $gris_claro;
}

input[type=text],
select {
  color: $gris_oscuro;
}

input[type=submit] {
  background: $verde_oscuro;
  height: 45px;
  border-radius: 5px;
  text-align: center;
  color: $blanco;
  cursor: pointer;
  margin-bottom: 60px;
  font-size: $normal;
  font-weight: 400;
  @media all and (min-width: 1200px) {
    margin-bottom: 120px;
}
}

.send_container {
  display: flex;
  justify-content: flex-end;
}

.button-send {
  text-align: right;
  width: 100%;
}

@media all and (min-width: 768px) {
  .contacto-txt {
    margin: 15px 0 0;
    width: 442px;
  }

  .foto_equipo {
    background-size: 90%;
  }

  .button-send {
    margin: 0;
    width: 206px;
  }

  .form1 {
    width: 100%;
  }

  .forms {
    padding: 0;
  }
}
@media all and (min-width: 720px) {
  .foto_equipo {
    background-size: 70%;
  }
}
@media all and (min-width: 1200px) {
  .contacto-txt {
    margin: 15px 0 0;
    width: 601px;
    max-width: 601px;
  }

  .contacto_p {
    max-width: 601px;
  }

  .foto_equipo {
    background-size: 80%;
    height: 400px;
  }

  .principal {
    margin-left: 0;
    margin-right: 0;
  }

  .form1 {
    width: 100%;
  }

  .forms {
    flex-direction: column;
    display: flex;
    width: 601px;
    max-width: 601px;
  }

  .organizer_inline {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form-mail {
    width: 395px;
    box-sizing: border-box;
  }

  .form-tel {
    width: 162px;
    box-sizing: border-box;
  }

  .order_label_mail {
    order: 1;
    margin-right: 44px;
  }

  .order_input_mail {
    order: 3;
    margin-right: 44px;
  }

  .order_label_tel {
    order: 2;
  }

  .order_input_tel {
    order: 4;
  }
}
