body, html {
  margin: 0px;
  font-family: $fonte_principal
}

.uppercase {
  text-transform: uppercase;
}

.principal {
  height: auto;
  display: flex;
  flex-direction: column;
}

.principal h2 {
  font-family: $fonte_titulo;
  margin: 0px;
  color: $verde_oscuro;
  font-size: $largest;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
}

.fab:hover, .fas:hover, a:hover {
  color: $color_hover; 
}
