// colors
$verde_oscuro: #099d8d;
$verde_oscuro_transparencia: rgba(34, 160, 146, .95);
$verde_claro: #14d9c4;
$verde_claro_transparencia: rgba(57, 218, 200, .9);
$blanco: #ffffff;
$blanco_transparencia: rgba(255, 255, 255, .9);
$negro: #000000;
$gris_oscuro: #54585a;
$gris_claro: #b8b8b9;
$gris_de_fondo: #f1f1f1;
$fondo_foto: #1D1C21;
$color_hover: #FFD700;

// font-family
$fonte_principal: 'Open Sans', sans-serif;
$fonte_titulo: 'Rubik', sans-serif;

// font-size
$largest: 24px;
$xx-large: 22px;
$x-large: 20px;
$large: 18px;
$normal: 16px;
$small: 15px;
$smallest: 14px;
