body,
html {
  margin: 0;
  font-family: $fonte_principal;
}

.uppercase {
  text-transform: uppercase;
}

.principal {
  height: auto;
  display: flex;
  flex-direction: column;
}

.principal h2 {
  font-family: $fonte_titulo;
  color: $verde_oscuro;
  font-size: $largest;
  font-weight: $medium;
  line-height: 45px;
  text-align: center;
  margin: 30px 0 15px;

  @media all and (min-width: 768px) {
    margin: 0;
  }
}

.fab:hover,
.fas:hover,
a:hover {
  color: $color_hover;
}
