.outter {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.adjust-header-outter {
  /* Esta clase es para ajustar el encabezado
  el ancho y alto del box. */
  /*height: 94vw;*/
  max-height: 600px;
}

.outter-header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  justify-content: flex-end;
}

.menu-item {
  list-style: none;
  display: inline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  list-style: none;
  margin: 0 15px;
  padding: 0;
}

.menu-item a {
  text-decoration: none;
  font-size: $small;
  color: $blanco;
  font-weight: $medium;
  font-family: $fonte_titulo;
}
/* estos códigos son para producir un offset en los
  links, para que lleven exactamente el inicio
  del contenido.
  Pero no están funcionando por algún conflicto con
  la position de los íconos de los perfiles.
  Para probarlos, cambiar el <nav> para:

  <nav>
    <ul class="menu-item">
        <li class="item uppercase"><a href="#equipo-target">Equipo</a></li>
        <li class="item uppercase"><a href="#who-target">Quiénes somos</a></li>
        <li class="item uppercase"><a href="contacto.html">Contacto</a></li>
    </ul>
  </nav>

#equipo, #who {
  position: relative;
}

#equipo a, #who a {
  position: absolute;
  left: 0px;
  top: -35px;
}
*/
.dracarys {
  height: 50px;
  width: auto;
  align-items: center;
}

.outter-header:hover {
  height: 145px;
}

.outter-header:hover .boxlogo {
  height: 100px;
}

.outter-header:hover img {
  transition: height ease 0.25s;
  height: 90px;
}

.boxlogo {
  height: 60px;
  width: auto;
  background: $verde_oscuro_transparencia;
  justify-content: center;
  display: flex;
  align-items: center;
}

.box {
  width: 100%;
  height: 45px;
  background: $verde_claro_transparencia;
}
@media all and (min-width:768px) {
  .outter-header {
    display: inline-flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
  }

  .header-menu-item {
    justify-content: flex-end;
    margin-right: 45px;
  }

  .item {
    margin: 0 0 0 20px;
  }

  .box {
    height: 60px;
    background-color: $verde_oscuro_transparencia;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 45px;
  }

  .boxlogo {
    padding-left: 45px;
    height: 60px;
  }

  .outter-header:hover {
    height: 100px;
  }

  .outter-header:hover .box {
    height: 100px;
  }

  .outter-header:hover .dracarys {
    transition: height ease 0.25s;
    height: 90px;
  }

  .outter-header:hover .boxlogo {
    height: 100px;
  }
  @media all and (min-width:1200px) {
    .boxlogo {
      padding-left: 138px;
    }

    .box {
      padding-right: 138px;
    }
  }

  .header-menu-item {
    margin-right: 0;
  }
}
