.foto {
  background-image: url("../images/temp-main-img.jpeg");
  background-position: 0 40%;
  background-size: 120%;
  background-repeat: no-repeat;
  height: 421px;
  background-color: $fondo_foto;

@media all and (min-width: 360px) {
  background-position: 0 bottom;
}
@media all and (min-width: 600px) {
  background-position: left 0  bottom 20%;
}
@media all and (min-width: 850px) {
  background-size: 105%;
  background-position: left 0  center 30%;
  height: 50vw;
  max-height: 550px;
}
@media all and (min-width: 1050px) {
  // background-size: 110%;
  background-position: left 0  bottom 20%;
}
@media all and (min-width: 1200px) {
  // background-size: 110%;
    background-position: left 0 bottom 20%;
    min-height: 550px;
  }
}

.title-main {
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lema {
  height: 20px;
}

.box-lema {
  background: $blanco;
  height: auto;
  width: auto;
  padding: 15px;
  position: relative;
  transform: translateY(-34px);
  margin: 0 15px;


  .equipo-txt h2 {
    margin-top: 35px;

  }

  @media all and (min-width: 768px) {
    background: $blanco_transparencia;
  }
}

.equipo-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-lema h1 {
  margin: 0;
  font-size: $largest;
  font-weight: $semibold;
  line-height: 25px;
  text-align: center;
}

.equipo-txt p {
  text-align: center;
  color: $gris_oscuro;
  font-size: $normal;
  font-weight: $regular;
  line-height: $largest;
  margin-top: 0;
  margin-bottom: 0;
}

.equipo-txt h3 {
  font-family: $fonte_titulo;
  margin: 0;
  color: $verde_oscuro;
  font-size: $xx-large;
  font-weight: $medium;
  text-align: center;
  line-height: 45px;
}

.equipoparrafo {
  max-width: 601px;
}

.contenedor-triangle {
  display: flex;
  justify-content: center;
  margin: 30px 0 -30px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid $blanco;
  margin-bottom: 10px;
}

.about {
  background: $gris_de_fondo;
  padding: 30px 15px 45px;
}

.who {
  text-align: center;
}

.who .title-main {
  margin-bottom: 15px;
}

.photoprofile {
  border: 5px solid $gris_claro;
  width: 180px;
  height: 180px;
  border-radius: 4px;
  margin: 0;
}

.member {
  padding: 0 15px;
}

.member h3 {
  margin: 0 0 15px;
  font-family: $fonte_titulo;
  font-weight: $regular;
  font-size: $x-large;
  line-height: 45px;
}

.member p {
  font-family: $fonte_principal;
  color: $gris_oscuro;
  font-size: $normal;
  line-height: $largest;
}

.listaiconos {
  padding: 15px 0 45px;
  display: flex;
  justify-content: center;
  list-style: none;
  color: $verde_oscuro;
  margin: 0;
}

.fyd-fortalezas {
  margin-bottom: 30px;
}

.fab,
.fas {
  color: $verde_oscuro;
}

.listaiconos li::before {
  content: " ∙ ";
  margin: 0 10px;
  padding-bottom: 45px;
}

.border-bottom {
  border-bottom: 1px solid $gris_claro;
}

.listaiconos li:first-child::before {
  content: "";
}
@media all and (min-width: 768px) {
  .principal {
    margin: 0;
  }

  .foto {
    background-position: 0 85%;
    background-size: 120%;
    height: 421px;
  }

  .box-lema {
    width: 441px;
    margin-left: 45px;
    padding: 15px 30px;
    transform: translate(0px, -54px);
  }

  .equipo-txt {
    padding: 0 45px 0;
    flex-direction: row;
  }

  .description {
    flex-direction: column;
  }

  .ultimoparrafo {
    margin-bottom: 60px;
  }

  .fyd {
    width: 50%;
    padding: 0 15px;
  }

  .fyd-fortalezas {
    margin-right: 30px;
    margin-bottom: 0;
  }

  .about {
    background: $gris_de_fondo;
    width: 100%;
    margin: -30px 0 0;
    padding: 0px 0 60px;
  }

  .contenedor-triangle {
    margin-bottom: 0;
    margin-top: 60px;
  }

  .who {
    padding: 0 45px 0 45px;
  }
  .members {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 10% 1fr 10%;
  }

  .member {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 60px;
    padding: 0;
  }

  .description-member {
    text-align: left;
    max-width: 65vw;
    align-self: center;
  }

  .listaiconos {
    justify-content: left;
    padding: 0px;
    transform: translateX(-20px);
  }

  .anna,
  .diana {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    text-align: right;
  }

  .description-right {
    text-align: left;
    margin-left: 30px;
  }

  .description-left {
    text-align: right;
    margin-right: 30px;
  }

  .fyd {
    padding: 0;
  }

  .fyd-fortalezas {
    margin-right: 45px;
  }

  .equipo-txt {
    padding-left: 45px;
    padding-right: 45px;
  }

  .container--icons-left {
    text-align: right;
  }

  .listaiconos-left {
    justify-content: flex-start;
  }

  .listaiconos-right {
    justify-content: flex-end;
    transform: translateX(0px);
  }

  .photoprofile {
    width: 206px;
    height: 206px;
  }
}
@media all and (min-width: 1200px) {
  .photoprofile {
    margin-left: 0;
    margin-right: 0;
    width: 278px;
    height: 278px;
  }

  .description-member {
    max-width: 439px;
    align-self: center;
  }
  .description-right {
    margin-left: 45px;
  }

  .description-left {
    margin-right: 45px;
  }
  .equipoparrafo {
    width: 601px;
  }

  .dracarys {
    display: inline;
  }

  .principal {
    margin: 0;
  }

  .box-lema {
    margin-left: 138px;
  }

  .equipo-txt {
    padding-left: 138px;
    padding-right: 138px;
  }

  .about {
    padding: 0px 0 60px;
  }

  .who {
    padding: 0px 138px;
  }

  .member {
    justify-content: flex-start;
  }
}
