* {
  box-sizing: border-box;
}

.foto_equipo {
  background-image: url('../images/bg-contacto.jpg');
  background-size: 170%;
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 300px;
  background-color: #1D1C21;
}

.contacto_h2 {
  margin: 0;
}

.principal_contacto {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.contacto-txt {
  margin: 15px 15px 0 15px;
}

.contacto_p {
  text-align: center;
  margin: 0;
  color: #54585A;
  font-size: 16px;
  line-height: 24px;
    max-width: 442px;
}

.forms {
  flex-direction: column;
  display: flex;
  color: #54585A;
  width: 100%;
  max-width: 442px;
  padding: 0 15px 0 15px;
}

.forms_info {
  text-align: center;
  font-size: .7em;
  font-weight: normal;
  margin: 30px 0px 60px 0px;
}

.forms_labels {
  text-align: left;
  font-size: 14px;
  margin: 0px;
  line-height: 19px;
}

.bright {
  color: rgb(34, 160, 146);
  font-size: 1rem;
}

.form1 {
  border: 1px solid lightgray;
  min-height: 15px;
  text-align: left;
  font-size: 16px;
  width: 100%;
  padding: 15px;
  margin: 5px 0px 15px 0px;
  line-height: 22px;
}

.big {
  min-height: 70px;
}

::placeholder {
  color: lightgray;
}

input[type=text], select {
  color: #54585A;
}

input[type=submit] {
  background: rgb(34, 160, 146);
  height: 45px;
  border-radius: 5px;
  text-align: center;
  color: white;
  cursor: pointer;
  margin: 15px 0px 60px 0px;
  font-size: 16px;
  font-weight: 400;
}

.send_container {
  display: flex;
  justify-content: flex-end;
}

.button-send {
  text-align: right;
  width: 100%;
}

@media all and (min-width: 380px) {

.foto_equipo {
  background-size: 140%;
}

}

@media all and (min-width: 530px) {

.foto_equipo {
  background-size: 100%;
}
}

@media all and (min-width: 720px) {

.foto_equipo {
  background-size: 80%;
}
}

@media all and (min-width: 768px) {

  .contacto-txt {
    margin: 15px 0 0 0;
    width: 442px;
  }

  .foto_equipo {
    background-size: 90%;
  }

  .button-send {
    margin: 0;
    width: 206px;
  }
  .form1 {
    width: 100%;
  }

.forms {
  padding: 0;
}

}

@media all and (min-width: 720px) {

.foto_equipo {
  background-size: 70%;
}
}

@media all and (min-width: 1200px) {

  .contacto-txt {
    margin: 15px 0 0 0;
    width: 601px;
    max-width: 601px;
  }

.contacto_p {
      max-width: 601px;
}

  .foto_equipo {
    background-size: 80%;
    height: 400px;
  }

  .principal {
    margin-left: 0;
    margin-right: 0;
  }
  .form1 {
    width: 100%;
  }
  .forms {
    flex-direction: column;
    display: flex;
    width: 601px;
    max-width: 601px;
  }

  .organizer_inline {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .form-mail {
    width: 395px;
    box-sizing: border-box;
  }
  .form-tel {
    width: 162px;
    box-sizing: border-box;
  }
  .order_label_mail {
    order: 1;
    margin-right: 44px;
  }
  .order_input_mail {
    order: 3;
    margin-right: 44px;
  }
  .order_label_tel {
    order: 2;
  }
  .order_input_tel {
    order: 4;
  }
}
