/*  GLOBAL:
Estilos que se aplican a toda la página */

body, html {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

/* Clase admin para aislar elementos y señalarles

.temp {
  color: lightgray;
  font-weight: bolder;
  border: 1px dotted lightgray;
  text-align: center;
  height: 500%;
}

*/

/*  GLOBAL:
Pinta los links de 'gold' al pasar el puntero por cima */

.fab:hover, .fas:hover, a:hover {
  color: gold !important;
}


/* BODY:
Caixas (boxes) principales */


.principal {
  /* Esta clase es usada en todas las boxes principales
    para establecer márgenes y facilitar la organización
    del contenido interno */
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0px 15px 0px 15px;
}


/* .title {
  text-align: center;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
} */



/* Estos dos código alteran el logo principal al pasarse
  el ratón por cima :P */




.menu-item {
  list-style: none;
  display: inline;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 45px;
  list-style: none;
  margin: 0px;
  padding: 0;
}

.menu-item a {
  text-decoration: none;
  font-size: 15px;
  color: white;
  font-weight: 600;
  font-family: 'Rubik', sans-serif;
}

/* estos códigos son para producir un offset en los
  links, para que lleven exactamente el inicio
  del contenido.
  Pero no están funcionando por algún conflicto con
  la position de los íconos de los perfiles.
  Para probarlos, cambiar el <nav> para:

  <nav>
    <ul class="menu-item">
        <li class="item uppercase"><a href="#equipo-target">Equipo</a></li>
        <li class="item uppercase"><a href="#who-target">Quiénes somos</a></li>
        <li class="item uppercase"><a href="contacto.html">Contacto</a></li>
    </ul>
  </nav>

#equipo, #who {
  position: relative;
}

#equipo a, #who a {
  position: absolute;
  left: 0px;
  top: -35px;
}
*/

.foto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: -1;
  align-items: center;
  background: #101010;
}

.foto img {
  width: 100%;
  max-width: 636px;
  opacity: 0.8;
}
.title-main {
  margin-top: 30px;
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.principal h2 {
  font-family: 'Rubik', sans-serif;
  margin: 0px;
  color: rgb(34,160,146);
  font-size: 24px;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
}

/* BODY:
Define las propriedades de la caja (box) LEMA */





/* Clases específicas de la parte Equipo */




/* Clases específicas de la parte Quiénes somos */


/* CONTACTO:
Clases relacionadas a la página Contacto */

/* FOOTER:
*/
