.footer_bordertop {
  border-top: 1px solid lightgray;
}

.footer {
  font-size: 12px;
  padding-top: 30px;
  width: 100%;
  color: lightgray;
  text-align: center;
}
  /* margin-left: -15px; */
.principal-footer {
  margin-bottom: 45px;
}

.footer img {
  width: 30%;
}

.footer-nav .menu-item a {
  color: #54585A;
}

.footer-nav .menu-item {
  display: block;
}

.footer-nav {
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 20px 0px 30px 0px;
  line-height: 24px;
  height: 80px;
  text-align: center;
  align-items: center;
}

.footer-img {
  text-align: center;
}

.footer-img img {
  width: 115.9px;
  height: 45px;
}

@media all and (min-width: 768px)
  {

.footer-nav {
  align-items: flex-end;
  text-align: right;
  margin-top: 25px;
  /* padding-right: 0;
  margin-right: 0; */
}

.footer {
  position: absolute;
  width: 250px;
  left: -48px;
  transform: translate(45px, 0);
}

.footer-img img {
  position: absolute;
  left: 0px;
  transform: translate(45px, -50px);
}

.footer ul {
  margin-right: 0;
  padding-right: 0;
}
}
