
.footer {
  font-size: 12px;
  padding-top: 30px;
  width: 100vw;
  border-top: 1px solid lightgray;
  color: lightgray;
  text-align: center;
  margin-left: -15px;

}

.footer img {
  width: 30%;
}

.footer-nav .menu-item a {
  color: #54585A;
}

.footer-nav .menu-item {
  display: block;
}

.footer-nav {
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: 20px 0px 30px 0px;
  line-height: 24px;
  height: 80px;
  text-align: center;
  align-items: center;
}

.footer-img {
  text-align: center;
}
.footer-img img {
  width: 115.9px;
  height: 45px;
  margin-bottom: 45px;
}
