.footer_bordertop {
  border-top: 1px solid lightgray;
}

.footer {
  font-size: 12px;
  padding-top: 30px;
  width: 100%;
  color: lightgray;
  text-align: center;
}

.footer_dracarys {
  width: 20%;
  max-width: 90px;
}

.footer-nav .menu-item a {
  color: #54585A;
}

.footer-nav .menu-item {
  display: block;
}

.footer-nav {
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 0px 30px 0px;
  line-height: 24px;
  height: 80px;
  text-align: center;
  align-items: center;
}

.footer-img {
  text-align: center;
}

.footer_adalab {
  width: 115.9px;
  height: 45px;
  margin-bottom: 45px;
}

@media all and (min-width: 768px) {
  .principal-footer {
    margin: 0 45px 0 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
    height: 100px;
    width: 94%;
  }
  .footer-nav {
    align-items: flex-end;
    text-align: right;
    margin-top: 0;
    width: 100%;
  }
  .footer {
    width: 300px;
    text-align: left;
    padding: 0;
  }
  .footer-img {
    text-align: left;
  }
  .footer_adalab {
    transform: translate(50px, -70px);
  }
  .footer ul {
    margin-right: 0;
    padding-right: 0;
  }
}

@media all and (min-width: 1200px) {
  .menu-item {
    margin-right: 138px;
  }
  .footer {
    width: 450px;
  }
  .footer_dracarys {
    width: 20%;
    transform: translate(80px, -10px);
  }
  .footer_adalab {
    position: absolute;
    left: 0px;
    transform: translate(138px, -50px);
  }
}
