.outter {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.adjust-header-outter {
  /* Esta clase es para ajustar el encabezado
  el ancho y alto del box. */
  height: 94vw;
  max-height: 600px;
}

.outter-header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  justify-content: flex-end;
}

.dracarys {
  height: 50px;
  width: auto;
  align-items: center;
}

.outter-header:hover {
  height: 145px;
}

.outter-header:hover .boxlogo {
  height: 100px;
}

.outter-header:hover img {
  transition: height ease .25s;
  height: 90px;
}

.boxlogo {
  height: 60px;
  width: auto;
  background: rgba(34, 160, 146, .95);
  justify-content: center;
  display: flex;
  align-items: center;
}

.box {
  width: 100%;
  height: 45px;
  background: rgba(57, 218, 200, .9);
}

@media all and (min-width:768px) {
  .outter-header {
    display: inline-flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
  }
  .header-menu-item {
    justify-content: flex-end;
    margin-right: 45px;
  }
  .item {
    margin: 0 0 0 20px;
  }
  .box {
    height: 60px;
    background-color: rgba(34, 160, 146, .95);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 45px;
  }
  .boxlogo {
    padding-left: 45px;
    height: 60px;
  }
  .outter-header:hover {
    height: 100px;
  }
  .outter-header:hover .box {
    height: 100px;
  }
  .outter-header:hover .dracarys {
    transition: height ease .25s;
    height: 90px;
  }
  .outter-header:hover .boxlogo {
    height: 100px;
  }
  @media all and (min-width:1200px) {
    .boxlogo {
      padding-left: 138px;
    }
    .box {
      padding-right: 138px;
    }
  }
  .header-menu-item {
    margin-right: 0px;
  }
}
