@charset "UTF-8";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.foto_equipo {
  background-image: url("../images/bg-contacto.jpg");
  background-size: 170%;
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 300px;
  background-color: #1D1C21;
}

.contacto_h2 {
  margin: 0;
}

.principal_contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contacto-txt {
  margin: 15px 15px 0;
}

.contacto_p {
  text-align: center;
  margin: 0;
  color: #54585a;
  font-size: 18px;
  line-height: 24px;
  max-width: 442px;
}

.forms {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #54585a;
  width: 100%;
  max-width: 442px;
  padding: 0 15px;
}

.forms_info {
  text-align: center;
  font-size: 0.7em;
  font-weight: normal;
  margin: 30px 0 60px;
}

.forms_labels {
  text-align: left;
  font-size: 14px;
  margin: 0;
  line-height: 19px;
}

.bright {
  color: #14d9c4;
  font-size: 1rem;
}

.form1 {
  border: 1px solid lightgray;
  min-height: 15px;
  text-align: left;
  font-size: 16px;
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
  line-height: 22px;
}

.big {
  min-height: 70px;
  max-height: 105px;
  margin-bottom: 25px;
}

::-webkit-input-placeholder {
  color: #b8b8b9;
}

:-ms-input-placeholder {
  color: #b8b8b9;
}

::-ms-input-placeholder {
  color: #b8b8b9;
}

::placeholder {
  color: #b8b8b9;
}

input[type=text],select {
  color: #54585a;
}

input[type=submit] {
  background: #14d9c4;
  height: 45px;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 60px;
  font-size: 16px;
  font-weight: 400;
}

.send_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.button-send {
  text-align: right;
  width: 100%;
}

.dragonfly {
  position: fixed;
  bottom: 0;
  left: -230px;
  -webkit-animation-name: dragonfly;
  animation-name: dragonfly;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.dragonfly2 {
  width: 20vw;
  min-width: 120px;
  max-width: 200px;
  position: fixed;
  top: 0;
  left: -320px;
  -webkit-animation-name: dragonfly2;
  animation-name: dragonfly2;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 30s;
  animation-delay: 30s;
}

.footer_bordertop {
  border-top: 1px solid lightgray;
}

.principal_footer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
}

.footer {
  font-size: 12px;
  padding-top: 30px;
  color: lightgray;
  text-align: center;
}

.footer_dracarys {
  width: 20%;
  max-width: 90px;
}

.footer_menu_item {
  list-style: none;
  text-align: center;
  line-height: 24px;
  padding: 0;
  margin: 20px 0 30px;
}

.footer_link {
  text-decoration: none;
  font-size: 15px;
  color: #54585a;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  display: block;
}

.footer-img {
  text-align: center;
}

.footer_adalab {
  width: 115.9px;
  height: 40px;
  margin-bottom: 45px;
}

.outter {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.adjust-header-outter {
 /* Esta clase es para ajustar el encabezado
  el ancho y alto del box. */ /*height: 94vw;*/
  max-height: 600px;
}

.outter-header {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 1;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.menu-item {
  list-style: none;
  display: inline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 45px;
  list-style: none;
  margin: 0 15px;
  padding: 0;
}

.menu-item a {
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
}/* estos códigos son para producir un offset en los
  links, para que lleven exactamente el inicio
  del contenido.
  Pero no están funcionando por algún conflicto con
  la position de los íconos de los perfiles.
  Para probarlos, cambiar el <nav> para:

  <nav>
    <ul class="menu-item">
        <li class="item uppercase"><a href="#equipo-target">Equipo</a></li>
        <li class="item uppercase"><a href="#who-target">Quiénes somos</a></li>
        <li class="item uppercase"><a href="contacto.html">Contacto</a></li>
    </ul>
  </nav>

#equipo, #who {
  position: relative;
}

#equipo a, #who a {
  position: absolute;
  left: 0px;
  top: -35px;
}
*/.dracarys {
  height: 50px;
  width: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.outter-header:hover {
  height: 145px;
}

.outter-header:hover .boxlogo {
  height: 100px;
}

.outter-header:hover img {
  -webkit-transition: height ease 0.25s;
  transition: height ease 0.25s;
  height: 90px;
}

.boxlogo {
  height: 60px;
  width: auto;
  background: rgba(34, 160, 146, 0.95);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.box {
  width: 100%;
  height: 45px;
  background: rgba(57, 218, 200, 0.9);
}

.foto {
  background-image: url("../images/temp-main-img.jpeg");
  background-position: 0 40%;
  background-size: 120%;
  background-repeat: no-repeat;
  height: 421px;
  background-color: #1D1C21;
}

.title-main {
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.lema {
  height: 20px;
}

.box-lema {
  background: #ffffff;
  height: auto;
  width: auto;
  padding: 15px;
  position: relative;
  -webkit-transform: translateY(-34px);
  transform: translateY(-34px);
  margin: 0 15px;
}

.box-lema .equipo-txt h2 {
  margin-top: 35px;
}

.equipo-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15px;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.box-lema h1 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  text-align: center;
}

.equipo-txt p {
  text-align: center;
  color: #54585a;
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

.equipo-txt h3 {
  font-family: "Rubik", sans-serif;
  margin: 0;
  color: #099d8d;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  line-height: 45px;
}

.equipoparrafo {
  max-width: 601px;
}

.contenedor-triangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 30px 0 -30px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #ffffff;
  margin-bottom: 10px;
}

.about {
  background: #f1f1f1;
  padding: 30px 15px 45px;
}

.who {
  text-align: center;
}

.who .title-main {
  margin-bottom: 15px;
}

.photoprofile {
  border: 5px solid #b8b8b9;
  width: 180px;
  height: 180px;
  border-radius: 4px;
  margin: 0;
}

.member {
  padding: 0 15px;
}

.member h3 {
  margin: 0 0 15px;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  line-height: 45px;
}

.member p {
  font-family: 'Open Sans', sans-serif;
  color: #54585a;
  font-size: 16px;
  line-height: 24px;
}

.listaiconos {
  padding: 15px 0 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
  color: #099d8d;
  margin: 0;
}

.fyd-fortalezas {
  margin-bottom: 30px;
}

.fab,.fas {
  color: #099d8d;
}

.listaiconos li::before {
  content: " ∙ ";
  margin: 0 10px;
  padding-bottom: 45px;
}

.border-bottom {
  border-bottom: 1px solid #b8b8b9;
}

.listaiconos li:first-child::before {
  content: "";
}

body,html {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

.principal {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.principal h2 {
  font-family: "Rubik", sans-serif;
  color: #099d8d;
  font-size: 24px;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
  margin: 30px 0 15px;
}

.fab:hover,.fas:hover,a:hover {
  color: #FFD700;
}

@media all and (min-width: 360px) {
  .foto {
    background-position: 0 bottom;
  }
}

@media all and (min-width: 380px) {
  .foto_equipo {
    background-size: 140%;
  }
}

@media all and (min-width: 530px) {
  .foto_equipo {
    background-size: 100%;
  }
}

@media all and (min-width: 600px) {
  .foto {
    background-position: left 0  bottom 20%;
  }
}

@media all and (min-width: 720px) {
  .foto_equipo {
    background-size: 80%;
  }

  .foto_equipo {
    background-size: 70%;
  }
}

@media all and (min-width: 768px) {
  .contacto-txt {
    margin: 15px 0 0;
    width: 442px;
  }

  .foto_equipo {
    background-size: 90%;
  }

  .button-send {
    margin: 0;
    width: 206px;
  }

  .form1 {
    width: 100%;
  }

  .forms {
    padding: 0;
  }

  .principal_footer {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .footer,.footer-img {
    text-align: left;
    padding: 0 0 0 45px;
  }

  .footer {
    margin: 30px 0 15px;
  }

  .footer-nav {
    grid-row: span 2;
  }

  .footer_menu_item {
    text-align: right;
    line-height: 32px;
    padding: 0;
    margin: 25px 45px 0 0;
  }

  .footer_adalab {
    margin-bottom: 60px;
  }

  .outter-header {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 60px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header-menu-item {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-right: 45px;
  }

  .item {
    margin: 0 0 0 20px;
  }

  .box {
    height: 60px;
    background-color: rgba(34, 160, 146, 0.95);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 45px;
  }

  .boxlogo {
    padding-left: 45px;
    height: 60px;
  }

  .outter-header:hover {
    height: 100px;
  }

  .outter-header:hover .box {
    height: 100px;
  }

  .outter-header:hover .dracarys {
    -webkit-transition: height ease 0.25s;
    transition: height ease 0.25s;
    height: 90px;
  }

  .outter-header:hover .boxlogo {
    height: 100px;
  }

  .header-menu-item {
    margin-right: 0;
  }

  .box-lema {
    background: rgba(255, 255, 255, 0.9);
  }

  .principal {
    margin: 0;
  }

  .foto {
    background-position: 0 85%;
    background-size: 120%;
    height: 421px;
  }

  .box-lema {
    width: 441px;
    margin-left: 45px;
    padding: 15px 30px;
    -webkit-transform: translate(0px, -54px);
    transform: translate(0px, -54px);
  }

  .equipo-txt {
    padding-left: 45px;
    padding-right: 45px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .ultimoparrafo {
    margin-bottom: 60px;
  }

  .fyd {
    width: 50%;
    padding: 0 15px;
    height: 250px;
  }

  .fyd-fortalezas {
    margin-right: 30px;
  }

  .about {
    background: #f1f1f1;
    width: 100%;
    margin: -30px 0 0;
    padding: 30px 0 45px;
  }

  .contenedor-triangle {
    margin-bottom: 0;
  }

  .who {
    padding: 0 45px;
  }

  .members {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }

  .member {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 30px;
    padding: 0px;
  }

  .member {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 60px;
    padding: 0;
  }

  .description-member {
    text-align: left;
    max-width: 65vw;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .listaiconos {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    padding: 15px 0 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  .anna,.diana {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: right;
  }

  .description-right {
    text-align: left;
    margin-left: 45px;
  }

  .description-left {
    text-align: right;
    margin-right: 45px;
  }

  .fyd {
    padding: 0;
  }

  .fyd-fortalezas {
    margin-right: 45px;
  }

  .equipo-txt {
    padding-left: 45px;
    padding-right: 45px;
  }

  .container--icons-left {
    text-align: right;
  }

  .listaiconos-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .listaiconos-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  .photoprofile {
    width: 206px;
    height: 206px;
  }

  .principal h2 {
    margin: 0;
  }
}

@media all and (min-width: 768px) and (min-width: 1200px) {
  .boxlogo {
    padding-left: 138px;
  }

  .box {
    padding-right: 138px;
  }
}

@media all and (min-width: 850px) {
  .foto {
    background-size: 105%;
    background-position: left 0  center 30%;
    height: 50vw;
    max-height: 550px;
  }
}

@media all and (min-width: 1050px) {
  .foto {
    background-position: left 0  bottom 20%;
  }
}

@media all and (min-width: 1200px) {
  input[type=submit] {
    margin-bottom: 120px;
  }

  .contacto-txt {
    margin: 15px 0 0;
    width: 601px;
    max-width: 601px;
  }

  .contacto_p {
    max-width: 601px;
  }

  .foto_equipo {
    background-size: 80%;
    height: 400px;
  }

  .principal {
    margin-left: 0;
    margin-right: 0;
  }

  .form1 {
    width: 100%;
  }

  .forms {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 601px;
    max-width: 601px;
  }

  .organizer_inline {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .form-mail {
    width: 395px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .form-tel {
    width: 162px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .order_label_mail {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-right: 44px;
  }

  .order_input_mail {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    margin-right: 44px;
  }

  .order_label_tel {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .order_input_tel {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }

  .footer,.footer-img {
    padding: 0 0 0 138px;
  }

  .footer_menu_item {
    margin: 25px 138px 0 0;
  }

  .foto {
    background-position: left 0 bottom 20%;
    min-height: 550px;
  }

  .photoprofile {
    margin-left: 0;
    margin-right: 0;
    width: 278px;
    height: 278px;
  }

  .description-member {
    max-width: 439px;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .equipoparrafo {
    width: 601px;
  }

  .dracarys {
    display: inline;
  }

  .principal {
    margin: 0;
  }

  .box-lema {
    margin-left: 138px;
  }

  .equipo-txt {
    padding-left: 138px;
    padding-right: 138px;
  }

  .about {
    padding: 30px 0 45px;
  }

  .who {
    padding: 0 138px;
  }

  .member {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@-webkit-keyframes dragonfly {
  from {
  }

  to {
    -webkit-transform: translate(180vw, -500px);
    transform: translate(180vw, -500px);
  }
}

@keyframes dragonfly {
  from {
  }

  to {
    -webkit-transform: translate(180vw, -500px);
    transform: translate(180vw, -500px);
  }
}

@-webkit-keyframes dragonfly2 {
  from {
  }

  to {
    -webkit-transform: translate(180vw, 500px);
    transform: translate(180vw, 500px);
  }
}

@keyframes dragonfly2 {
  from {
  }

  to {
    -webkit-transform: translate(180vw, 500px);
    transform: translate(180vw, 500px);
  }
}

/*# sourceMappingURL=main.css.map */
