@charset "UTF-8";
* {
  box-sizing: border-box; }

.foto_equipo {
  background-image: url("../images/bg-contacto.jpg");
  background-size: 170%;
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 300px;
  background-color: #1D1C21; }

.contacto_h2 {
  margin: 0; }

.principal_contacto {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center; }

.contacto-txt {
  margin: 15px 15px 0 15px; }

.contacto_p {
  text-align: center;
  margin: 0;
  color: #54585A;
  font-size: 16px;
  line-height: 24px;
  max-width: 442px; }

.forms {
  flex-direction: column;
  display: flex;
  color: #54585A;
  width: 100%;
  max-width: 442px;
  padding: 0 15px 0 15px; }

.forms_info {
  text-align: center;
  font-size: .7em;
  font-weight: normal;
  margin: 30px 0px 60px 0px; }

.forms_labels {
  text-align: left;
  font-size: 14px;
  margin: 0px;
  line-height: 19px; }

.bright {
  color: #22a092;
  font-size: 1rem; }

.form1 {
  border: 1px solid lightgray;
  min-height: 15px;
  text-align: left;
  font-size: 16px;
  width: 100%;
  padding: 15px;
  margin: 5px 0px 15px 0px;
  line-height: 22px; }

.big {
  min-height: 70px; }

::placeholder {
  color: lightgray; }

input[type=text], select {
  color: #54585A; }

input[type=submit] {
  background: #22a092;
  height: 45px;
  border-radius: 5px;
  text-align: center;
  color: white;
  cursor: pointer;
  margin: 15px 0px 60px 0px;
  font-size: 16px;
  font-weight: 400; }

.send_container {
  display: flex;
  justify-content: flex-end; }

.button-send {
  text-align: right;
  width: 100%; }

@media all and (min-width: 380px) {
  .foto_equipo {
    background-size: 140%; } }
@media all and (min-width: 530px) {
  .foto_equipo {
    background-size: 100%; } }
@media all and (min-width: 720px) {
  .foto_equipo {
    background-size: 80%; } }
@media all and (min-width: 768px) {
  .contacto-txt {
    margin: 15px 0 0 0;
    width: 442px; }

  .foto_equipo {
    background-size: 90%; }

  .button-send {
    margin: 0;
    width: 206px; }

  .form1 {
    width: 100%; }

  .forms {
    padding: 0; } }
@media all and (min-width: 720px) {
  .foto_equipo {
    background-size: 70%; } }
@media all and (min-width: 1200px) {
  .contacto-txt {
    margin: 15px 0 0 0;
    width: 601px;
    max-width: 601px; }

  .contacto_p {
    max-width: 601px; }

  .foto_equipo {
    background-size: 80%;
    height: 400px; }

  .principal {
    margin-left: 0;
    margin-right: 0; }

  .form1 {
    width: 100%; }

  .forms {
    flex-direction: column;
    display: flex;
    width: 601px;
    max-width: 601px; }

  .organizer_inline {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }

  .form-mail {
    width: 395px;
    box-sizing: border-box; }

  .form-tel {
    width: 162px;
    box-sizing: border-box; }

  .order_label_mail {
    order: 1;
    margin-right: 44px; }

  .order_input_mail {
    order: 3;
    margin-right: 44px; }

  .order_label_tel {
    order: 2; }

  .order_input_tel {
    order: 4; } }
.dragonfly {
  position: fixed;
  bottom: 0;
  left: -230px;
  animation-name: dragonfly;
  animation-duration: 20s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

@keyframes dragonfly {
  to {
    transform: translate(180vw, -500px); } }
.dragonfly2 {
  width: 20vw;
  min-width: 120px;
  max-width: 200px;
  position: fixed;
  top: 0;
  left: -320px;
  animation-name: dragonfly2;
  animation-duration: 20s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 30s; }

@keyframes dragonfly2 {
  to {
    transform: translate(180vw, 500px); } }
.footer_bordertop {
  border-top: 1px solid lightgray; }

.principal_footer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto; }

.footer {
  font-size: 12px;
  padding-top: 30px;
  color: lightgray;
  text-align: center; }

.footer_dracarys {
  width: 20%;
  max-width: 90px; }

.footer_menu_item {
  list-style: none;
  text-align: center;
  line-height: 24px;
  padding: 0;
  margin: 20px 0 30px 0; }

.footer_link {
  text-decoration: none;
  font-size: 15px;
  color: #54585A;
  font-weight: 600;
  font-family: 'Rubik', sans-serif;
  display: block; }

.footer-img {
  text-align: center; }

.footer_adalab {
  width: 115.9px;
  height: 45px;
  margin-bottom: 45px; }

@media all and (min-width: 768px) {
  .principal_footer {
    display: grid;
    grid-template-columns: 50% 50%; }

  .footer, .footer-img {
    text-align: left;
    padding: 0 0 0 45px; }

  .footer {
    margin: 30px 0 15px 0; }

  .footer-nav {
    grid-row: span 2; }

  .footer_menu_item {
    text-align: right;
    line-height: 32px;
    padding: 0;
    margin: 25px 45px 0 0; }

  .footer_adalab {
    margin-bottom: 60px; } }
@media all and (min-width: 1200px) {
  .footer, .footer-img {
    padding: 0 0 0 138px; }

  .footer_menu_item {
    margin: 25px 138px 0 0; } }
body, html {
  margin: 0px;
  font-family: 'Open Sans', sans-serif; }

.uppercase {
  text-transform: uppercase; }

.fab:hover, .fas:hover, a:hover {
  color: gold !important; }

.principal {
  height: auto;
  display: flex;
  flex-direction: column; }

.principal h2 {
  font-family: 'Rubik', sans-serif;
  margin: 0px;
  color: #22a092;
  font-size: 24px;
  font-weight: bold;
  line-height: 45px;
  text-align: center; }

.outter {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column; }

.adjust-header-outter {
  /* Esta clase es para ajustar el encabezado
  el ancho y alto del box. */
  /*height: 94vw;*/
  max-height: 600px; }

.outter-header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  justify-content: flex-end; }

.menu-item {
  list-style: none;
  display: inline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  list-style: none;
  margin: 0 15px 0 15px;
  padding: 0; }

.menu-item a {
  text-decoration: none;
  font-size: 15px;
  color: white;
  font-weight: 600;
  font-family: 'Rubik', sans-serif; }

/* estos códigos son para producir un offset en los
  links, para que lleven exactamente el inicio
  del contenido.
  Pero no están funcionando por algún conflicto con
  la position de los íconos de los perfiles.
  Para probarlos, cambiar el <nav> para:

  <nav>
    <ul class="menu-item">
        <li class="item uppercase"><a href="#equipo-target">Equipo</a></li>
        <li class="item uppercase"><a href="#who-target">Quiénes somos</a></li>
        <li class="item uppercase"><a href="contacto.html">Contacto</a></li>
    </ul>
  </nav>

#equipo, #who {
  position: relative;
}

#equipo a, #who a {
  position: absolute;
  left: 0px;
  top: -35px;
}
*/
.dracarys {
  height: 50px;
  width: auto;
  align-items: center; }

.outter-header:hover {
  height: 145px; }

.outter-header:hover .boxlogo {
  height: 100px; }

.outter-header:hover img {
  transition: height ease .25s;
  height: 90px; }

.boxlogo {
  height: 60px;
  width: auto;
  background: rgba(34, 160, 146, 0.95);
  justify-content: center;
  display: flex;
  align-items: center; }

.box {
  width: 100%;
  height: 45px;
  background: rgba(57, 218, 200, 0.9); }

@media all and (min-width: 768px) {
  .outter-header {
    display: inline-flex;
    flex-direction: row;
    height: 60px;
    align-items: center; }

  .header-menu-item {
    justify-content: flex-end;
    margin-right: 45px; }

  .item {
    margin: 0 0 0 20px; }

  .box {
    height: 60px;
    background-color: rgba(34, 160, 146, 0.95);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 45px; }

  .boxlogo {
    padding-left: 45px;
    height: 60px; }

  .outter-header:hover {
    height: 100px; }

  .outter-header:hover .box {
    height: 100px; }

  .outter-header:hover .dracarys {
    transition: height ease .25s;
    height: 90px; }

  .outter-header:hover .boxlogo {
    height: 100px; } }
@media all and (min-width: 768px) and (min-width: 1200px) {
  .boxlogo {
    padding-left: 138px; }

  .box {
    padding-right: 138px; } }
@media all and (min-width: 768px) {
  .header-menu-item {
    margin-right: 0px; } }
.foto {
  background-image: url("../images/temp-main-img.jpeg");
  background-position: 0px 90%;
  background-size: 120%;
  background-repeat: no-repeat;
  height: 282px;
  background-color: #101010; }

.title-main {
  margin-top: 30px;
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center; }

.lema {
  height: 20px; }

.box-lema {
  background: rgba(255, 255, 255, 0.9);
  height: auto;
  width: auto;
  padding: 15px;
  position: relative;
  transform: translateY(-49px);
  margin: 0 15px 0 15px; }

.equipo-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px 0 15px; }

.description {
  display: flex;
  flex-direction: column;
  align-items: center; }

.box-lema h1 {
  margin: 0px;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  text-align: center; }

.equipo-txt p {
  text-align: center;
  color: #54585A;
  font-size: 16px;
  line-height: 24px; }

.equipo-txt h2 {
  margin-top: 35px; }

.equipo-txt h3 {
  font-family: 'Rubik', sans-serif;
  margin: 0px;
  color: #099D8D;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  line-height: 45px; }

.equipoparrafo {
  max-width: 601px; }

.contenedor-triangle {
  display: flex;
  justify-content: center;
  margin: 30px 0px -30px 0px; }

.triangle {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid white;
  margin-bottom: 10px; }

.about {
  background: #efefef;
  padding: 30px 15px 45px 15px;
  width: 95vw; }

.who {
  text-align: center; }

.who .title-main {
  margin-bottom: 30px; }

.photoprofile {
  border: 5px solid #dcdcdc;
  width: 180px;
  height: 180px;
  border-radius: 4px;
  margin: 0; }

.member {
  padding: 0 15px 0 15px; }

.member h3 {
  margin: 0px 0px 15px 0px;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  line-height: 45px; }

.member p {
  font-family: 'Open Sans', sans-serif;
  color: #54585A;
  font-size: 16px;
  line-height: 24px; }

.listaiconos {
  padding: 0px;
  padding-top: 15px;
  padding-bottom: 45px;
  display: flex;
  justify-content: center;
  list-style: none;
  color: #099d8d;
  margin: 0; }

.fab, .fas {
  color: #099d8d; }

.listaiconos li::before {
  content: " ∙ ";
  margin: 0 10px;
  padding-bottom: 45px; }

.border-bottom {
  border-bottom: 1px solid lightgray; }

.listaiconos li:first-child::before {
  content: ""; }

@media all and (min-width: 768px) {
  .principal {
    margin: 0; }

  .foto {
    background-position: 0px 85%;
    background-size: 120%;
    height: 421px; }

  .box-lema {
    width: 441px;
    margin-left: 45px;
    padding: 15px 30px 15px 30px;
    transform: translate(0px, -54px); }

  .equipo-txt {
    padding-left: 45px;
    padding-right: 45px;
    flex-direction: row; }

  .description {
    flex-direction: column; }

  .ultimoparrafo {
    margin-bottom: 60px; }

  .fyd {
    width: 50%;
    padding: 0 15px 0 15px;
    height: 250px; }

  .fyd-fortalezas {
    margin-right: 30px; }

  .about {
    background: #efefef;
    width: 100%;
    margin: -30px 0 0 0;
    padding: 30px 0 45px 0; }

  .contenedor-triangle {
    margin-bottom: 0px; }

  .who {
    padding: 0px 45px 0px 45px; }

  .member {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 60px;
    padding: 0px; }

  .description-member {
    text-align: left;
    max-width: 65vw;
    align-self: center; }

  .listaiconos {
    justify-content: left;
    padding: 15px 0 0 0;
    transform: translateX(-20px); }

  .anna, .diana {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    text-align: right; }

  .description-right {
    text-align: left;
    margin-left: 45px; }

  .description-left {
    text-align: right;
    margin-right: 45px; }

  .fyd {
    padding: 0px; }

  .fyd-fortalezas {
    margin-right: 45px; }

  .equipo-txt {
    padding-left: 45px;
    padding-right: 45px; }

  .container--icons-left {
    text-align: right; }

  .listaiconos-left {
    justify-content: flex-start; }

  .listaiconos-right {
    justify-content: flex-end;
    transform: translateX(0px); }

  .photoprofile {
    width: 206px;
    height: 206px; } }
@media all and (min-width: 1200px) {
  .photoprofile {
    margin-left: 0;
    margin-right: 0;
    width: 278px;
    height: 278px; }

  .foto {
    background-position: 0px 85%;
    background-size: 120%;
    height: 550px; }

  .description-member {
    max-width: 439px;
    align-self: center; }

  .equipoparrafo {
    width: 601px; }

  .dracarys {
    display: inline; }

  .principal {
    margin: 0px; }

  .box-lema {
    margin-left: 138px; }

  .equipo-txt {
    padding-left: 138px;
    padding-right: 138px; }

  .about {
    padding: 30px 0px 45px 0px; }

  .who {
    padding: 0px 138px 0px 138px; }

  .member {
    justify-content: flex-start; } }

/*# sourceMappingURL=main.css.map */
