.foto {
  background-image: url('../images/temp-main-img.jpeg');
  background-position: 0px 90%;
  background-size: 120%;
  background-repeat: no-repeat;
  height: 282px;
  background-color: #101010;
}

.title-main {
  margin-top: 30px;
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lema {
  height: 20px;
}

.box-lema {
  background: rgba(255, 255, 255, .9);
  height: auto;
  width: auto;
  padding: 15px;
  position: relative;
  transform: translateY(-49px);
  margin: 0 15px 0 15px;
}

.equipo-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px 0 15px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-lema h1 {
  margin: 0px;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
}

.equipo-txt p {
  text-align: center;
  color: #54585A;
  font-size: 16px;
  line-height: 24px;
}

.equipo-txt h2 {
  margin-top: 35px;
}

.equipo-txt h3 {
  font-family: 'Rubik', sans-serif;
  margin: 0px;
  color: #099D8D;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  line-height: 45px;
}

.equipoparrafo {
  max-width: 601px;
}

.contenedor-triangle {
  display: flex;
  justify-content: center;
  margin: 30px 0px -30px 0px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid white;
  margin-bottom: 10px;
}

.about {
  background: #efefef;
  padding: 30px 15px 45px 15px;
  width: 95vw;
}

.who {
  text-align: center;
}

.who .title-main {
  margin-bottom: 30px;
}

.photoprofile {
  border: 5px solid #dcdcdc;
  width: 180px;
  height: 180px;
  border-radius: 4px;
  margin: 0;
}

.member {
  padding: 0 15px 0 15px;
}

.member h3 {
  margin: 0px 0px 15px 0px;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  line-height: 45px;
}

.member p {
  font-family: 'Open Sans', sans-serif;
  color: #54585A;
  font-size: 16px;
  line-height: 24px;
}

.listaiconos {
  padding: 0px;
  padding-top: 15px;
  padding-bottom: 45px;
  display: flex;
  justify-content: center;
  list-style: none;
  color: #099d8d;
  margin: 0;
}

.fab, .fas {
  color: #099d8d;
}

.listaiconos li::before {
  content: " ∙ ";
  margin: 0 10px;
  padding-bottom: 45px;
}

.border-bottom {
  border-bottom: 1px solid lightgray;
}

.listaiconos li:first-child::before {
  content: "";
}

@media all and (min-width: 768px) {
  .principal {
    margin: 0;
  }
  .foto {
    background-position: 0px 85%;
    background-size: 120%;
    height: 421px;
  }
  .box-lema {
    width: 441px;
    margin-left: 45px;
    padding: 15px 30px 15px 30px;
    transform: translate(0px, -55px);
  }
  .equipo-txt {
    padding-left: 45px;
    padding-right: 45px;
    flex-direction: row;
  }
  .description {
    flex-direction: column;
  }
  .ultimoparrafo {
    margin-bottom: 60px;
  }
  .fyd {
    width: 50%;
    padding: 0 15px 0 15px;
    height: 250px;
  }
  .fyd-fortalezas {
    margin-right: 30px;
  }
  .about {
    background: #efefef;
    width: 100%;
    margin: -30px 0 0 0;
    padding: 30px 0 45px 0;
  }
  .contenedor-triangle {
    margin-bottom: 0px;
  }
  .who {
    padding: 0px 45px 0px 45px;
  }
  .member {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 60px;
    padding: 0px;
  }
  .description-member {
    text-align: left;
    max-width: 65vw;
    align-self: center;
  }
  .listaiconos {
    justify-content: left;
    padding: 15px 0 0 0;
    transform: translateX(-20px);
  }
  .anna, .diana {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    text-align: right;
  }
  .description-right {
    text-align: left;
    margin-left: 45px;
  }
  .description-left {
    text-align: right;
    margin-right: 45px;
  }
  .fyd {
    padding: 0px;
  }
  .fyd-fortalezas {
    margin-right: 45px;
  }
  .equipo-txt {
    padding-left: 45px;
    padding-right: 45px;
  }
  .container--icons-left {
    text-align: right;
  }
  .listaiconos-left {
    justify-content: flex-start;
  }
  .listaiconos-right {
    justify-content: flex-end;
    transform: translateX(0px)
  }
  .photoprofile {
    width: 206px;
    height: 206px;
  }
}

@media all and (min-width: 1200px) {
  .photoprofile {
    margin-left: 0;
    margin-right: 0;
    width: 278px;
    height: 278px;
  }
  .foto {
    background-position: 0px 85%;
    background-size: 120%;
    height: 550px;
  }
  .description-member {
    max-width: 439px;
    align-self: center;
  }
  .equipoparrafo {
    width: 601px;
  }
  .dracarys {
    display: inline;
  }
  .principal {
    margin: 0px;
  }
  .box-lema {
    margin-left: 138px;
  }
  .equipo-txt {
    padding-left: 138px;
    padding-right: 138px;
  }
  .about {
    padding: 30px 0px 45px 0px;
  }
  .who {
    padding: 0px 138px 0px 138px;
  }
  .member {
    justify-content: flex-start;
  }
}
